@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding:0;
  overflow-x: hidden !important;
}

.cj-logo {
  height: 65px;
  align-self: start;
}

.navbar {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-self: center;
  font-size: small;
  font-family: din-round,sans-serif;
}

.button-1 {
  appearance: button;
  background-color: #ffe08a;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0); 
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 200px;
}

.button-1:after {
  background-clip: padding-box;
  background-color: #FFC82C;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-1:main,
.button-1:focus {
  user-select: auto;
}

.button-1:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-1:disabled {
  cursor: auto;
}



.main-logo {
  width: auto;
  height: 450px;
  object-fit: cover;
}

.main-1 {
  display: flex;
  flex-direction: column;
  background-image: url("bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 127%;

  justify-self: center;
  justify-content: center;
  padding-top: 20px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 20px;
}

.main-2 {
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 100px;
  padding-top: 30px;
  gap: 20px;
  justify-content: space-evenly;  
}

.main-des {
  font-size: 26px;
}

.main-name {
  font-size: 42px;
}

.main-name-des {
  font-size: 24px;

}

.main-steps {
  align-self: center;
}

.main-enter-code {
  padding-top:45px;
  font-size: 28px;
}

.main-code-box {
  padding-left: 30px;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1200px;
}

.main-input {
  width: 30%;
  align-self: center;

  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

.main-warning {
  color: rgb(150, 28, 28);
  font-size: 15px;
}

.footer {
  background-color: rgb(0, 0, 0);
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-logo {
  height: 65px;
  padding-top: 27px
}

.footer-tags {
    color:rgb(248, 255, 240);
    vertical-align: center;
    padding-top: 25px;
    font-size: 25px;
}

.button-3 {
  align-self: center;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  color: rgb(255, 218, 87);
  background: #000;
  width: 270px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  padding: 12px 20px;
  text-align:center;
  transition-duration: .15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.button-3:hover{
  color: #000;
  background: rgb(255, 218, 87);
}
